Package: com.niko.test
Name: gaodeptrace
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: niko
Author: niko
Section: Tweaks
